<!-- direction.ejs -->
<!-- 
    This controls the direction the students are going. 
    i.e. Are the students checking in or out?
-->

<label class="switch d-inline-block align-middle m-auto">
    <input type="checkbox" id="toggle-button">
    <div class="slider round" id="direction-slider" tabindex="1">
        <span class="in">IN</span>
        <span class="out">OUT</span>
    </div>
</label>
