<!-- history.ejs -->

<!-- This is used by both the scan and search pages -->
<div class="input-group text-center">
    <ul class="form-control text-start" id="history">
        <li class="history-entry">
            <!-- Empty element for spacing -->
        </li>
    </ul>
    <!--<i class="bi bi-caret-down-square input-group-text w-auto btn btn-secondary" style="height: 40px" onclick="historyListOn()"></i>-->
</div>