

<div id="submission-form">
    <br>
	<label for="stuid">Student Id:</label>
	<input type="text" id="stuid" name="stuid"><br><br>
    <br>
   <label for="sign-direction">Choose a pet:</label>
	<select name="sign-direction" id="sign-direction">
		<option value="">--Please choose an option--</option>
		<option value="IN">IN</option>
		<option value="OUT">OUT</option>
	</select>
    <br>
    <button id="submit">
        SUBMIT
    </button>
    <br>
    <pre id="submission-data">
        Nothing submitted yet
    </pre>
    <script src="/index.js"> </script>
</div>

