<%- include('partials/header') -%>

<div id="student-search-form">
    <!-- TODO: add explanatory notes -->
    <!-- TODO: add state management -->
    <br>
    <%- include('partials/history') -%>
	<label for="studentName">Student Name:</label>
	<input type="text" id="studentName" name="studentName" autofocus>
    <button id="submit" tabindex="-1">
        Search!
    </button>
    <br>
    <div id="submission-data">
        Nothing submitted yet
    </div>

    <script type="module" src="/public/search.js"></script>
</div>

<%- include('partials/footer') -%>
