<%- include('partials/header') -%>

    <div id="student-search-form">
        <!-- TODO: add explanatory notes for keyboard shortcuts -->
        <div class="text-center display-4 my-2">Search</div>

        <%- include('partials/history') -%>

            <div class="input-group mb-2">
                <span class="input-group-text">Student Name:</span>
                <input type="text" id="studentName" name="studentName" class="form-control d-inline me-1 rounded-end">
                <%- include( 'partials/direction') -%>
            </div>
            <div class="text-center d-grid">
                <button class="btn btn-success mb-2 text-center" id="submit" tabindex="-1">
        Search!
    </button></div>
            <div id="submission-data">
                Nothing submitted yet
            </div>

            <script type="module" src="/public/search.js"></script>
    </div>

    <%- include('partials/footer') -%>