#history {
  --height: 45px;
  padding-top: 8px;
  background-color: var(--light-background);
  max-height: var(--height);
  height: var(--height);
  display: block;
  flex-direction: column;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

.history-entry {
  margin: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0.5em;
  /* padding-left: 2em; */
  display: inline;
  /* margin-left: 5em; */
  margin-right: 1em;
  white-space: nowrap;
  background-color: whitesmoke;
  border-radius: 25px;
  vertical-align: middle;
}

#history-list-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
